body{
width: 1152px;
}
.header{
    background-color: white;
    padding: 210px 149px 128px 149px;

    .nama{
        padding: 0px 30px 0px 0px;
        h1{
            font-size: 44px;
            text-align: left;
            padding-bottom: 20px;
            line-height: 1.3;
    
        }
        p{
            font-size: 16px;
            text-align: left;
        }

    }

    .foto{
        position: relative;
        .cycle{
            background-color:
            #dadad2;
            height:243px;
            width: 243px;
            border-radius: 50%;
            position: absolute;
            top: 13px;
        }
        .fotoprof{
            position: absolute;
            z-index: 1;
            right:81px;
        }
    }

}
.contedu{
    background-color: 
    #dadad2;
    padding: 0px 149px 0px 149px;
    .edu{
        margin-bottom: 50px;
        .school{
            padding-bottom: 10px;
            h2{
                color:#136223;
                padding-top:12px;
                padding-bottom:20px;
                font-size: 18px;
            }
            h3{
                font-size: 14px;
                margin-bottom: 6px;
            }
            h4{
                font-size: 12px;
                margin-bottom: 6px;
            }
            p{
                font-size: 12px;
                margin-bottom: 6px;
            }
        }
    }
    .contact{
        h2{
            color:#136223;
            padding-top:12px;
            padding-bottom:20px;
            font-size: 18px;
        }
        p{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

}
.projects{
    background-color: white;
    padding: 0px 149px 0px 149px;
    h2{
        color:#136223;
        padding-top:25px;
        padding-bottom:46px;
        font-size: 18px;
    }
    .container{
        margin-bottom: 29px;
        .exper{
            margin-bottom: 35px;
        }
        .d-flex{

            margin:0px;
            padding:0px;

            .tahun{
                background-color: #142850;
                border-radius: 150px;
                color:white;
                text-align: center;
                font-weight: bold;
                width:62px;
                height: 25px;
                margin-top: 4px;
            }
            .kategori{
                margin-left: 26px;
                opacity: 0.7;
                font-size: 20px;                  
            }
        }
        .h3{
            font-size: 30px;
            margin-bottom: 16px;
        }
        .keterangan{
            font-size: 16px;
        }
    }
}
footer{
    padding: 134px 149px 54px 149px;
    .sosmed{
        margin-left: 17px;
        margin-right: 17px;
    }

    .copyright{
        text-align: center;
        font-size: 14px;
        padding-top: 26px;
    }
}